* {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;

	box-sizing: border-box;
}

body {
	font-size: 16px;
 	font-family:'Raleway', sans-serif;
	background-color:#1b1d35;
	color: #fff;
	height: 680px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
#cerrar{
	font-size: 20px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #b8711b;
}

#cerrar:hover{
	text-decoration: underline;
}

.contenedor {

	max-width: 500px;
	width: 90%;
	margin: auto;
	text-align: justify;
}
.contenido{
	background-color: rgba(41, 50, 147, 0.4);
	padding: 30px;
	margin-bottom: 20px;
}
.contenedor2{
	width: 700px;
	margin: auto;
	max-width: 90%;
}
.titulo {
	font-weight: 300;
	color: #b8711b;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 20px;
	
}

.border{
	border: none;
	margin-bottom: 15px;
	border-bottom: 4px solid #b8711b;
	background: none;
	color: none;
	
}

.formulario .form-group{
	width: 100%;
	margin-bottom: 10px;
	
}

.formulario input[type="text"],
.formulario input[type="password"]{
	padding: 15px;
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
	border: none;
	max-height: 48px;
	vertical-align: top;
}

.formulario .icono{
	padding: 15px;
	text-align: center;
	width:48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background-color: #c8c8c8;
	display: inline-block;
	color: #6b6b6b;
	vertical-align: top;
}

.formulario .icono.izquierda{
	margin-right: 4px;
	border-radius: 3px 0 0 3px;
	height: 48px;
}

.formulario .usuario,
.formulario .password{
	width: calc(100% - 52px);
	border-radius: 0 3px 3px 0;
}

.formulario .password_btn{
	width: calc(100% - 105px);
}
.formulario .error ul{
	padding: 0 15px;
}

.formulario .error ul li{
	margin-bottom: 10px;
}

.formulario .submit-btn{
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background: #679863;
	display: inline-block;
	color: #fff;
	background: #769863;
	cursor: pointer;
	margin-left: 4px;
	-webkit-transition: .4s;
	transition: .4s;
	
	border-radius: 0 3px 3px 0;
}
.formulario .submit-btn:hover{
	background-color: #406020;
}

.texto-registrate{
	text-align: center;
}
.texto-registrate a{
	display: block;
	font-size: 18px;
}

.contenido article{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 25px;
	background: #fff;
}
.contenido article:nth-last-child(2){
	margin-bottom: 30px;
}
.contenido article p{
	margin-bottom: 10px;
	color: #000;
}


